/* Reset CSS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family:  Helvetica,arial, sans-serif;
}

/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
 */

/* 
1.Vị trí
2.Kích thước(width,height)
3.Màu sắc
4.Kiểu dáng(Kiểu chữ,hình tròn,vuông,..)
 */
 /* Common */ 
 #content .clear{
  clear:both;
 }
 .row::after{
  content:"";
  display:block;
  clear:both;
 }
 .mt-8{
  margin-top:8px !important;
 }
 .mt-16{
  margin-top:16px !important;
 }
 .pull-right{
  float:right !important;
 }
 .text-white{
  color:#fff !important;
 } 
 .text-center{
 text-align:center !important;
 }
 .row{
  margin-left: -8px;
  margin-right: -8px;
 }
 .col-third{
  width:33.3333%;
 }
 .col-half{
  width:50%;
 }
 .col-full{
  width:100%;
 }
 .col{
  float:left;
  padding-right:8px;
  padding-left: 8px;
 }
 .btn{
  color:#fff;
  background-color: #000;
  text-decoration: none;
 padding:11px 16px;
 display:inline-block;
 margin-top:15px;
 cursor:pointer;
 border:none;

}
.btn:hover{
  color:#000;
  background-color:#ccc;
}

/*Main */
 #main{

 } 
 #content .clear{
  clear:both;
 }
 .text-white{
  color:#fff !important;
 }
 #header {
  height:46.5px;
  background-color: #333;
 position: fixed;
 right: 0;
 left:0;
 top:0;
 z-index: 1;
  
 }
 #nav{
  display:inline-block;
 }
 #nav, .subnav{
  list-style-type: none;
 }
 #nav li  {
  display: inline-block;
  position: relative;
 }
 #nav > li >a {
  text-transform: uppercase;
  color:#fff;
 }
 #nav li a{
  text-decoration: none;
  line-height: 46.5px;
  padding:0 24px;
  display: block;
 }
 #nav li:hover .subnav{
  display:block;
 }
 #nav > li:hover > a,
 #nav .subnav li:hover{
  color:#000;
  background-color:#ccc ;
 }
 #nav .subnav {
  display: none;
  min-width: 160px;
  top:100%;
  left:0;
  position: absolute;
  background-color: #fff;
  box-shadow:0 0 10px rgba(0,0,0,0.5) ;
 }
 #nav .subnav li{
  display: block;
 }
 #nav .nav-arrow-down{
  font-size:14px;
 }
 #nav .subnav a {
  color:#333;
  padding:0 16px;
  line-height: 38px;
  
 }

 #header .mobile-menu-btn{
  float:right;
  padding:0 23px;
  display: none;

 }
 #header .search-btn{
  float:right;
  padding:0 23px;
 }
 #header .menu-icon,
 #header .search-icon{
  color:#fff;
  line-height: 46.5px;
  font-size:20px;

 }
#header .mobile-menu-btn:hover{
  background-color: #ccc;
}
#header .search-btn:hover{
  background-color: #f44336;
  cursor:pointer;
}
#header  .mobile-menu-btn:hover .menu-icon{
color:#000;
}
 #slider {
  position:relative;
  margin-top: 46.5px;
  padding-top:50%;
  background: url('/asesst/img/chicago.jpg') top center / cover no-repeat;

 }
 #slider .text-content{
  position:absolute;
  color:#fff;
  bottom:47px;
  width:100%;
  text-align: center;
 }
#slider .text-heading{
  font-weight:500;
  font-size:24px;
}
#slider .text-descripion{
 font-size:15px;
 margin-top:25px;
}                                 
 #content {

 }
 #content .content-section{
  width:800px;
  max-width:100%;
  padding:64px 0 112px;
  margin-left:auto;
  margin-right:auto;
  padding-right: 16px;
  padding-left: 16px;
 }
 #content .section-heading{
  font-size: 30px;
  font-weight:500;
  text-align:center;
  letter-spacing: 4px;
 }
 #content .section-sub-heading{
  font-size:15px;
  text-align: center;
  margin-top:25px;
  font-style:italic;
  opacity:0.6;
 }
 #content .about-text{
  margin-top:25px;
  font-size:15px;
  text-align: justify;
  line-height: 1.4;
 }
 #content .member-list{
  margin-top:32px;
 }

 #content .member-name{
  font-size:15px;
  
 }
 #content .member-img{
  width:154px;
  margin-top:15px;
  border-radius:4px;
 }
 .tour-section{
  background-color: #000;
  
 }
 .ticket-list{
  background-color: #fff;
  margin-top: 40px;
  list-style-type: none 
 }
 .ticket-list li{
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
 }
 .ticket-list .sold-out{
  color: #fff;
  background-color: #f44336;
  padding: 3px 4px;
  margin-left: 16px;
}
 
 .ticket-list .quantity{
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 24px;
  margin-top: -3px;
}
 /* Place */
 .place-list{
margin-top: 16px;

 }
.place-item{

width:33.33%;

}
.place-img{
width:100%;
display:block;
}
.place-img:hover{
  opacity: 0.6;
}
.place-body{
  background-color:#fff;
  font-size:15px;
  padding: 16px 16px;

}
.place-heading{
  font-size:15px;
  font-weight: 600;

}
.place-time{
margin-top:15px;
color:#757575;
}
.place-dsc{
margin-top:15px;
line-height: 1.4;
}
.modal{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: rgba(0,0,0,0.4);
  align-items:center;
  justify-content: center;
  display:none;
}
.modal.open{
  display:flex;
}
.modal-container{
  background-color: #fff;
  width:900px;
  max-width:calc(100% - 32px);
  min-height:200px;
  position:relative;
  animation: modalFadeIn ease 0.5s;
}
.modal-header{
  background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-size: 30px;
}
.modal-close{
  position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
  opacity: 1;
}
.modal-heading{
  margin-right:16px;
}
.modal-body{
  padding:16px;
}
.modal-label{
  font-size:15px;
  display:block;
  font-weight:600;
}
.modal-input{
  padding:10px;
  width:100%;
  border: 1px solid #ccc;
  font-size:15px;
  margin-bottom:24px;

}
#buy-tickets {
  background-color: #009688;
  color: #fff;
  width: 100%;
  border: none;
  padding: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 15px;
}
#buy-tickets:hover {
  opacity:0.8;
}
.modal-footer{
  padding:16px;
  float:right;
  

}
.modal-footer a{
  color:#2196f3;
}
@keyframes modalFadeIn {
  from{
    opacity:0;
    transform:translateY(-150px) ;
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}
 
/* Contact */
.contact-content{
  margin-top: 47px;
}
.contact-info{
  font-size:18px;
  line-height:1.5;
}
.contact-form{
  font-size: 15px;
}
.contact-form .form-control{
  padding: 10px;
  border:1px solid #ccc;
  width:100%;
}
.contact-info i[class*="ti-"]{
  width:30px;
  display:inline-block;
}
/* Map Section*/
.map-section img{
  width:100%;
}

/* Footer */
#footer {
  padding:64px 16px;
  text-align:center;
}
#footer .socials-list a{
  font-size:24px;
  color:rgba(0,0,0,0.7);
  text-decoration:none;
}
#footer .copyright{
  font-size:15px;
  color:rgba(0,0,0,0.7);
}
#footer .copyright a:hover,
#footer .socials-list a:hover{
  color:rgba(0,0,0,0.4);
}
#footer .copyright a{
  color:rgba(0,0,0,0.7);
}
